<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/4ffb9c71-c34a-4bce-a9f4-39ed1458745d/resourceGroups/backend-tareas/providers/Microsoft.Web/sites/backend-tareas</ResourceId>
    <ResourceGroup>backend-tareas</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://backend-tareas.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>backend-tareas.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>backend-tareas</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$backend-tareas</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>